extends ../layouts/sign-in
block sign-in-logo
  figure
    img(src='/images/sign-in-page/suse-logo-light.svg', alt='Suse logo')
block info
  .info
    h1
      | SUSE
      br
      | Product brand
    p
      | An open source design system made for SUSE enterprise products and powered by EOS UI/UX solutions.

block sign-in-cookies
  p
    | This site saves some information in cookies but only when
    | strictly necessary - #[a.link-light(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy', data-event-label='Auth page') Learn more].
block sign-in-header
  include ../layouts/shared/sign-in/sign-in-header.pug
block sign-in-form
  .sign-in-form.padding-top-xxl
    h1
      | Sign in
    form.margin-top-xl.login-form
      .form-group
        label Username
        input.form-control(type='text', aria-describedby='emailHelp')
      .form-group
        label Password
        input.form-control(type='password')
      button.btn.btn-primary.btn-block.margin-top-xxl(type='submit') Submit
block sign-in-footer
  include ../layouts/shared/sign-in/sign-in-footer.pug
