extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Acronyms
      p.subheadline
        | Information on how, and in which situations to use acronyms for products at #{config.brand}
    hr
    section
      h3.anchor
        a#acronyms(href='#acronyms')
          i.eos-icons.eos-18
            | link
        | #{config.brand} corporate product acronyms
      p
        | Product names should always be spelled out completely as it helps to build and reinforce the SUSE brand.
      p
        | There are a few instances where acronyms may be used but they are limited to following places:

      ul
        li
          | Social media including hashtags (not blogs)
        li
          | Tables with limited real estate
        li
          | Vanity URLs
        li
          | Event descriptions with limited word counts

      span
        |  * Note for social media hashtags an underscore should be used instead of a dash. For example SUSE_CAP, SUMA_Retail, etc.
    section
      h3.anchor.margin-top-xxxl
        a#acronyms-list(href='#acronyms-list')
          i.eos-icons.eos-18
            | link
        | List of acronyms
      p
        | Approved list of product name acronyms:

      table.table
        thead
          tr
            th
              | Product name
            th
              | Acronym
        tbody
          tr
            td
              | SUSE Linux Enterprise Server
            td
              | SLES
          tr
            td
              | SUSE Linux Enterprise Server for z Systems and LinuxONE
            td
              | SLES for Z
          tr
            td
              | SUSE Linux Enterprise Server for POWER
            td
              | SLES for POWER
          tr
            td
              | SUSE Linux Enterprise Server for Arm
            td
              | SLES for Arm
          tr
            td
              | SUSE Linux Enterprise Server for SAP Applications
            td
              | SLES for SAP
          tr
            td
              | SUSE Linux Enterprise High Performance Computing
            td
              | SLES for HPC
          tr
            td
              | SUSE Linux Enterprise Real Time
            td
              | SLE-RT
          tr
            td
              | SUSE Linux Enterprise Server with Expanded Support
            td
              | SLES-ES
          tr
            td
              | SUSE Linux Enterprise Point of Service
            td
              | SLE-POS
          tr
            td
              | SUSE Linux Enterprise Desktop
            td
              | SLED
          tr
            td
              | SUSE Linux Enterprise High Availability Extension
            td
              | SLE-HA
          tr
            td
              | SUSE Linux Enterprise Workstation Extension
            td
              | SLE-WE
          tr
            td
              | SUSE Linux Enterprise Virtual Machine Drive Pack
            td
              | SLE-VMDP
          tr
            td
              | Long Term Service Pack Support
            td
              | LTSS
          tr
            td
              | SUSE Linux Enterprise Live Patching
            td
              | SLE-LP
          tr
            td
              | SUSE OpenStack Cloud
            td
              | SOC
          tr
            td
              | SUSE Enterprise Storage
            td
              | SES
          tr
            td
              | SUSE CaaS Platform
            td
              | SUSE CaaSP
          tr
            td
              | SUSE Cloud Application Platform
            td
              | SUSE CAP
          tr
            td
              | SUSE Cloud Application Platform
            td
              | SUMA
          tr
            td
              | SUSE Manager for Retail
            td
              | SUMA for Retail
