.alert.alert-info.alert-global.alert-hidden.js-component-alert
  i.eos-icons.eos-18
    | info
  .alert-body
    .alert-global-desktop
      | Didn’t find the component you were looking for? Take a look on
      | #[a(href='/coming-next') what’s coming next] or #[a.js-feedback-tool-open.js-screenshoot contact us].
    .alert-global-mobile
      | Looking for components?
      | #[a(href='/coming-next') what’s next] or #[a.js-feedback-tool-open.js-screenshoot contact us].
  a.close.js-set-alert-cookies(data-dismiss='alert')
    i.eos-icons.eos-18
      | close
