ul.footer-list
  li.footer-list-item
    a.footer-link(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy', data-event-label='Footer')
      | Cookie policy
  include ./changelog-content.pug
  li.footer-list-item
    a.footer-link(href='https://eosdesignsystem.com/', data-event-category='External link', data-event-action='Link EOS website', data-event-label='Footer', target='_blank', rel='noreferrer nonopener')
      img.js-tooltip(src='/images/icons/eos-logo.svg', data-toggle='tooltip', data-html='true', title='Visit our website', alt='EOS icon')
