/* Dropdown dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/dropdown/dark-theme.variables.scss */

.dark-theme {
  .dropdown-menu.show {
    background-color: $eos-dark-dropdown-bg-color;
    border: 0;
    border-color: $eos-dark-dropdown-border-color;
    box-shadow: $eos-dark-dropdown-box-shadow;

    .dropdown-item {
      color: $eos-dark-dropdown-item-color;
      font-weight: $eos-dark-dropdown-item-font-weight;

      &:hover {
        background-color: $eos-dark-dropdown-hover-color;
        text-decoration: none;
      }
    }
  }

  .show .dropdown-toggle.btn-secondary {
    background-color: transparent;
    border-color: $eos-btn-dark-dropdown-color-show;
    color: $eos-btn-dark-dropdown-color-show;
  }
}
