/* Dropdown dark theme variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss

**/

$eos-dark-dropdown-bg-color: $eos-bc-dt-gray-100;
$eos-dark-dropdown-item-color: $eos-bc-white;
$eos-dark-dropdown-item-font-weight: 400;
$eos-dark-dropdown-border-color: $eos-bc-gray-1000;
$eos-dark-dropdown-hover-color: $eos-bc-gray-1000;
$eos-btn-dark-dropdown-color-show: $eos-bc-gray-500;
$eos-dark-dropdown-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
