doctype html
html
  head
    include shared/layout-head.pug
  body.signin-bg
    section.signin-content
      .sign-in-box
        include shared/sign-in/sign-in-brand.pug
        .form-container
          include shared/sign-in/sign-in-header.pug
          include shared/sign-in/sign-in-form.pug
          include shared/sign-in/sign-in-footer.pug
