block new-password-form
  .sign-in-form
    h1
      | Set your new password
    form.margin-top-xl
      .form-group
        label New password
        input.form-control(type='password')
      .form-group
        label Confirm password
        input.form-control(type='password')
      a.btn.btn-primary.btn-block.margin-top-xxl(role='button', href='#') Save
    .form-links.margin-top-xxl
      a(href='demo-sign-in.html')
        | Sign in
