/* prism-theme variables
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-prism-theme-pre: $eos-bc-green-500; /*#4CAF50*/
$eos-prism-theme-light-yellow: $eos-bc-yellow-100; /*#f8f8f2*/
$eos-prism-theme-pre-background: $eos-bc-gray-1000; /*#272822*/
$eos-prism-theme-red: $eos-bc-red-500; /*#f92672*/
$eos-prism-theme-purple: #ae81ff;
$eos-prism-theme-light-green: $eos-bc-green-100; /*#a6e22e*/
$eos-prism-theme-dark-yellow: $eos-bc-yellow-500; /*#e6db74*/
$eos-prism-theme-cerulean: $eos-bc-cerulean-500; /*#66d9ef*/
$eos-prism-theme-orange: #fd971f;
$eos-prism-theme-gray: $eos-bc-gray-900;
$eos-prism-theme-font: $eos-font-type-base;
$eos-prism-theme-font-size: $eos-font-size-base;
