extends ../../layouts/layout-main
block content
  section
    .container
      h1
        | Cookie policy
      p.subheadline
        | We reserve the right to change this policy when necessary. Any changes to this policy will be posted here. Your continued use of our websites after changes have been posted will constitute your agreement to any such changes.

      hr

      h4
        | Cookie preferences
      p
        | Some essential features on our sites just won’t work without cookies. And having other cookies switched off can seriously affect the way you’ll be able to enjoy our services.
      p
        | Please check your cookie settings below and turn on any cookies you’re happy with.
      p
        | “Strictly necessary” cookies can’t be turned off. But "Analytics / Performance" cookies can be turned on or off below. You can learn more about cookies and what they do in the link below.

      .cookies-preference-wrap
        .cookie-preference-item
          .cookie-preference-switch
            .form-group
              .form-check.custom-switch
                input.custom-control-input(type='checkbox', disabled, checked)
                label.custom-control-label
          .cookie-preference-descrition
            strong
              | Strictly necessary cookies
            p
              | These cookies are essential so that you can move around the website and use its features. Without these cookies services you have asked for cannot be provided.
        .cookie-preference-item
          .cookie-preference-switch
            .form-group
              .form-check.custom-switch
                input#analyics-performance.custom-control-input.js-analytics-tracking(type='checkbox')
                label.custom-control-label(for='analyics-performance')
          .cookie-preference-descrition
            strong
              | Analytics / Performance
            p
              | These cookies allow us to collect data which helps us to better understand how the site its being used.
      hr

      h4
        | Our use of cookies
      p
        | Like many websites, the EOS design system uses 'cookies'. A cookie is a small file of letters and numbers that
        | is placed on your computer's hard drive when you visit certain websites. We may use cookies to tell us, for example,
        | whether you have visited us before or if you are a new visitor and to help us identify site features in which
        | you may have the greatest interest. Cookies may enhance your online experience by saving your preferences while
        | you are visiting a particular page. For more information on cookies, please see
        | #[a(href='www.whatarecookies.com', data-event-category='External link', data-event-action='Link to whatarecookies.com', data-event-label='Cookies policy') www.whatarecookies.com].
      p
        | The cookies we use are 'analytics cookies' which monitor how visitors use our websites and give us a better understanding of what content visitors are spending most time reading so we can continue improving the user experience. The types of cookies used on our website are as follows:

      .cookies-table
        .cookies-table-title
          span
            | Cookie type
          span
            | Purpose
          span
            | Name
        .cookies-table-content
          div
            p
              | Analytics / Performance
          div
            p
              | These cookies are used only to help us to improve our websites over time, by giving us insights into how the various sections of the websites are used and how users interact with the websites, for example which pages visitors go to most often and whether they get error messages from web pages. The information collected is anonymous and statistical.
          div
            span
              | AID
            span
              | APISID
            span
              | CAL
            span
              | GAPS
            span
              | HSID
            span
              | NID
            span
              | OGP
            span
              | OGPC
            span
              | PREF
            span
              | SAPISID
            span
              | SID
            span
              | SNID
            span
              | SSID
            span
              | __utma
            span
              | __utmb
            span
              | __utmt
            span
              | __utmv
            span
              | __utmx
            span
              | __utmxx
            span
              | __utmz
            span
              | _ga
            span
              | _gat
