include ../demo-head.pug
  title EOS - Sign up
  body.signin-bg.dark-theme
    section.signin-content
      .sign-in-box
        include ../files_copy/layouts/shared/sign-in/sign-in-brand.pug
        .form-container
          include ../files_copy/layouts/shared/sign-in/sign-in-header.pug
          block content
            .container
              include ../files_copy/layouts/shared/sign-up/dark-theme/index.pug
          include ../files_copy/layouts/shared/sign-in/sign-in-footer.pug

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
