extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Layout
          p.subheadline
            | The page layout is the foundation of an application. It provides the overall
            | structure and helps helps organise content consistently by using uniform elements.
          p
            | Visit the #[a(href='/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') layout demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3.anchor
        a#basic-structure(href='#basic-structure')
          i.eos-icons.eos-18
            | link
        | Basic structure
      p
        | The basic structure provides sidebar, content area, footer and header.
      ul
        li
          | The sidebar contains the elements used for main navigation.
        li
          | Elements such as branding, submenu, account settings and search are positioned in the header.
        li
          | The content area represents the canvas of the application, and it holds the content of each page.
        li
          | The footer is an additional navigation element and can contain links, company or copyright information, etc.

      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid.img-fluid-v-centered(src='/images/layout/structure.svg', alt='Layout structure image')

    article.margin-top-xxl
      h3.anchor
        a#fluid-page-layout(href='#fluid-page-layout')
          i.eos-icons.eos-18
            | link
        | Fluid page layout
      p
        | The fluid page layout is the default layout in #{config.brand}.
        | It provides the right screen real estate for content by allowing it to stretch and
        | contract relative to the screen size.
    article.margin-top-xxl
      h3.anchor
        a#responsive-breakpoints(href='#responsive-breakpoints')
          i.eos-icons.eos-18
            | link
        | Responsive breakpoints
      .row
        .col-md-8
          ul
            li
              | greater than 1336px
            li
              | 770px - 1335px
            li
              | less than 770px
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/desktop-menu.gif', alt='Menu image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/tablet-menu.gif', alt='Menu image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/mobile-menu.gif', alt='Menu image for mobile')
    article.margin-top-xxl
      h3.anchor
        a#content-area(href='#content-area')
          i.eos-icons.eos-18
            | link
        | Content area
      p
        | The main container has a maximum width of 1116px. When the screen size
        | is greater than the container's maximum width, the #[code margin:auto]
        | property is used to center it.
        | Margins and paddings are used to create space around elements.
        | Margins are used for space between elements while paddings are used for
        | space within an element. The default padding is a fixed value and it is 32px.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/layout/desktop-mockup.svg', alt='Image depicting layout with content area and padding')

    article.margin-top-xxl
      h3.anchor
        a#grid(href='#grid')
          i.eos-icons.eos-18
            | link
        | Grid
      p
        | EOS uses Bootstrap's grid system. It uses a series of rows, containers and
        | columns to arrange and align content. It’s fully responsive.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/layout/grid.svg', alt='Grid image')
