/* Cookies Preference Variables
========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-slider-background: $eos-bc-gray-300;
$eos-slider-before-color: $eos-bc-white;
$eos-slider-input-checked-color: $eos-bc-green-500;
$eos-slider-input-disabled-color: $eos-bc-gray-500;
$eos-cookies-table-title-background: $eos-bc-gray-100;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-cookies-preference-margin: $eos-s;
$eos-cookies-preference-switch-margin: 0 16px 0 0;
$eos-cookies-preference-switch-height: $eos-xl;
$eos-cookies-preference-switch-width: $eos-xxxl - 4;
$eos-slider-before-bottom-left: $eos-xs;
$eos-slider-before-height-width: $eos-l + 2;
$eos-slider-input-border-radius: $eos-xl + 2;
$eos-cookies-table-grid-size: 33.3%;
$eos-cookies-table-padding: $eos-s;
$eos-cookies-table-padding-span: $eos-xs;
