/* ==========================================================================
  Cookie configuration panel.
========================================================================== */
.cookies-preference-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .cookie-preference-item {
    display: flex;
    flex-direction: row;
    margin: $eos-cookies-preference-margin;

    .cookie-preference-switch {
      padding: $eos-cookies-preference-switch-margin;
    }

    p {
      margin: 0;
    }
  }
}

/* ==========================================================================
  Cookie table
========================================================================== */
.cookies-table {
  display: flex;
  flex-direction: column;

  &-title {
    background: $eos-cookies-table-title-background;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $eos-cookies-table-padding;

    span {
      width: $eos-cookies-table-grid-size;
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $eos-cookies-table-padding 0;

    div {
      width: $eos-cookies-table-grid-size;
    }

    div:last-of-type {
      display: flex;
      flex-wrap: wrap;
      margin: 0 $eos-cookies-table-padding;
    }

    div:last-of-type span {
      display: flex;
      padding: $eos-cookies-table-padding-span;
    }
  }
}
