include demo-head.pug
  title EOS - Layout

  body
    include files_copy/shared/menu/menu-layout.pug
    include files_copy/shared/menu/mobile-menu-layout.pug
    section.content
      include files_copy/shared/menu/submenu.pug
      block content
        .container
          h1
            | Welcome to EOS
          p
            | To show an active menu/submenu element, add the class #[code selected].
    include files_copy/shared/footer/footer-content.pug

script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
