extends ../layouts/layout-main
block content
  .container.js-designSpecsController
    section
      h1
        | Design specs
      p
        | List of design specs for our product with the relevant link to XD file and Trello
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
              h6
                | Filter by EOS version:
              .badge.badge-info.clickable.js-filter-label
                | internal
                span.badge.js-count-filter-label
                  | 0
              .badge.badge-warning.clickable.js-filter-label
                | external
                span.badge.js-count-filter-label
                  | 0
              .badge.badge-success.clickable.js-filter-label
                | All
                span.badge.js-count-filter-label
                  | 0
            .col-sm-6
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .eos-icons.eos-18.js-icons-search-close.clickable
                    | close
    section.design-specs
      .js-label-list.js-design-specs-list
        .js-icons-search-empty.d-none
          .alert.alert-section.alert-info
            i.eos-icons.eos-18.alert-icon
              | info
            .alert-body
              .alert-title
                | No results found
              | No design specs found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Name
          .col-sm-2
            h4
              | Tag
          .col-sm-2
            h4
              | XD specs
          .col-sm-2
            h4
              | XD backup
          .col-sm-1
            h4
              | Trello
          .col-sm-3
            h4
              | Document description
          hr.hr-dotted
        article.js-design-specs-item
          .row
            .col-sm-2
              h4.js-design-specs-name
              span.js-design-specs-date
            .col-sm-2.js-design-specs-tag-list
              .badge.js-design-specs-tag.js-filter-label
            .col-sm-2
              a.js-design-specs-xd-specs(target='_blank', rel='noreferrer nonopener')
                | XD specs
            .col-sm-2
              a.js-design-specs-xd-backup(target='_blank', rel='noreferrer nonopener')
                | XD backup
            .col-sm-1
              a.js-design-specs-trello(target='_blank', rel='noreferrer nonopener')
                | Trello
            .col-sm-3
              span.js-design-specs-description
          hr.hr-dotted
