/* News variables
   ========================================================================== */
/* Color variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-news-loading-wrap-border: $eos-bc-gray-50;
$eos-news-loading-margin-top: $eos-xxxl;
$eos-news-loading-margin-height: 182px;
