a.card.card-horizontal.js-article-container.modal-link
  .card-content
    div
      h4
      span.card-date.margin-bottom-s
        i.eos-icons.eos-18
          | today
        span.js-card-date
      p
  span.card-icon
    i.eos-icons.eos-18
      | library_books
  footer
    span
      | Read articles
