/* Show-more-less
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */

$eos-sml-scss-snippet-btns-margin-top: $eos-s;
$eos-sml-snippet-code-height: 240px;
$eos-sml-show-more-less-bottom: $eos-s;
$eos-sml-show-more-less-right: $eos-s;

$eos-sml-scss-snippet-btns-color: $eos-bc-white;
$eos-sml-scss-snippet-btns-right: $eos-s;
