extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Most commonly used icons
          p.subheadline
            | The following is a list of icons that are commonly used in #{config.brand}
            | applications along with the guidelines to use them consistently in all
            | of our products.
        .col-md-3
          button.btn.btn-primary.margin-top-m.float-right(data-toggle='modal', data-target='#requestNewIcon')
            i.eos-icons.eos-18
              | add_circle
            |  Request new icon
    hr
    article
      h3.anchor
        a#most-commonly-used-icons(href='#most-commonly-used-icons')
          i.eos-icons.eos-18
            | linkw
        | Most commonly used icons
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | person
          hr
          h6
            | EOS icon ligature:
          | person
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a person/user in a table/list of users.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for user account or a group of users.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | account_circle
          hr
          h6
            | EOS icon ligature:
          | account_circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links to user account, when a user will view or edit user account details, or next to the user name.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent a person/user or group of users.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | group
          hr
          h6
            | EOS icon ligature:
          | group
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a group of users/persons.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent and organization, admin user.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | domain
          hr
          h6
            | EOS icon ligature:
          | domain
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent organizations, e.g.:  #{config.brand} Germany,  #{config.brand} UK,  #{config.brand} China, etc. An organization contains group/s of users, subscriptions, systems, organization details, etc. as a whole entity.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent individual groups of users, group of systems, etc.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | desktop_windows
          hr
          h6
            | EOS icon ligature:
          | desktop_windows
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent a system, a physical machine, a virtual machine, or a cloud instance.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for configuration of any: system, virtual machine, cloud instance, etc.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | file_download
          hr
          h6
            | EOS icon ligature:
          | file_download
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for downloads, of any type.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent a downloaded item.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | file_upload
          hr
          h6
            | EOS icon ligature:
          | file_upload
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to indicate the action to upload files.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent uploaded icons.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | attach_file
          hr
          h6
            | EOS icon ligature:
          | attach_file
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent attachments, whether present in a chat channel, support thread, and others, or as action to add an attachment to a message.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for general file uploads.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | info
          hr
          h6
            | EOS icon ligature:
          | info
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to show the user the text displayed (or to be displayed if the information lays behind a tooltip/popover) is only informational and no immediate action is required.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for general text in the UI or documentation. Don't use it when an action is required from the user, in which case a state of warning/error should be assigned, with corresponding icons.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | error
          hr
          h6
            | EOS icon ligature:
          | error
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to inform the user an error has occured and an action is required, even if the action is to wait and retry.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to highlight information that is not an error and does not require an action from the customer.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | warning
          hr
          h6
            | EOS icon ligature:
          | warning
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to warn the user and inform them an action is required, even if the action is to wait and retry.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to highlight information that is not a warning and does not require an action from the customer.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | check_circle
          hr
          h6
            | EOS icon ligature:
          | check_circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in call-to-actions buttons or links.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | check
          hr
          h6
            | EOS icon ligature:
          | check
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in call-to-actions buttons or links next to the text of the action that will occur. If the icon is used without text in the actionable button/link, make sure to use a tooltip that explains the positive action on mouse over.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | close
          hr
          h6
            | EOS icon ligature:
          | close
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in buttons, modals or links to close a modal, message, notification, or cancel/dismiss an action.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to represent canceled/interrupted results or status: an update that was canceled, a rejected request, etc. or a disabled/inactive status.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | cancel
          hr
          h6
            | EOS icon ligature:
          | cancel
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in a response to represent canceled/interrupted results: an update that was canceled, a rejected request, etc. or a disabled/inactive status.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in buttons, modals or links to close a modal, message, notification, or cancel/dismiss an action.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | remove_circle
          hr
          h6
            | EOS icon ligature:
          | remove_circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  ul
                    li
                      | Use this icon in an action to remove an item from a list or table.
                    li
                      | You may also use this icon to visualize items removed,
                      | for example when showing a list of systems removed.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon to delete information permanently or any other
                    | destructive action.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | add_circle
          hr
          h6
            | EOS icon ligature:
          | add_circle
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  ul
                    li
                      | Use this icon in an action to add an item to a list, table, or other components.
                    li
                      | You may also use this icon to represent a successfully added item.

            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to upload files or save information.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | delete
          hr
          h6
            | EOS icon ligature:
          | delete
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in an action to delete an item/information
                  | from the system (from the DB), or as the result of it, e.g.: "[delete] message deleted".
                p
                  | #[strong Dependency:]
                  | When permanently deleting an item or performing any other destructive action,
                  | a confirmation modal/popup should always be used. For this icon you must always
                  | use a `btn-danger` as the confirmation of the removal.
                  | See #[a(href='/patterns/common-actions', data-event-category='Internal link', data-event-action='pattern - common actions', data-event-label='Icons/Most commonly used icons') pattern - common actions] to learn more.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon to remove items from a list/table, that will be
                    | lost from the database, e.g.: when removing a user from a group
                    | which doesn't delete them from a database, vs., deleting a user
                    | account removes them from the database. For removals please use the icon #[code remove_circle].
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | block
          hr
          h6
            | EOS icon ligature:
          | block
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent status unavailable, disabled, or for actions to disable or block.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon stacked with other icons to represent removals or
                  | the action of disabling an item, e.g.: the block icon stacked with a
                  | #[code desktop_windows] under to represent the removal/disbling of a system.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | visibility
          hr
          h6
            | EOS icon ligature:
          | visibility
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to make sensible data visible, e.g. a password.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in results/responses, e.g.: the icon next to a title such as: Showing all results.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | visibility_off
          hr
          h6
            | EOS icon ligature:
          | visibility_off
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to hide sensible data, e.g. a password.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in results/responses, e.g.: the icon next to a title such as a list of hidden systems.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | sync
          hr
          h6
            | EOS icon ligature:
          | sync
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in actionable items that will trigger a refresh,
                  | reload, sync of data, etc. in which the results will be shown
                  | in the UI without a page refresh. Use this icon together with the
                  | "spin" class to animate the spinning when the data is being retrieved.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon on actions that will trigger an update server side
                  | that will not return results to the front-end directly but rather require a page refresh.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | more_vert
          hr
          h6
            | EOS icon ligature:
          | more_vert
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for a contextual menu with a list of options to display in a dropdown or popover.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for specific dropdown triggers, such as a notifications menu, account menu.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | more_horiz
          hr
          h6
            | EOS icon ligature:
          | more_horiz
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to reveal hidden information, e.g.
                  | show all hidden items in a long horizontal menu.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                ul
                  li
                    | Use this icon in links/buttons that will take the user to a
                    | different page/section to view more information.
                    | Use #[code visibility] for this purpose instead.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | headset_mic
          hr
          h6
            | EOS icon ligature:
          | headset_mic
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon when offering a user a way to contact support in Chat or Ticketing form.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for other general contact information, such as email, social media, etc.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | search
          hr
          h6
            | EOS icon ligature:
          | search
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon within a search input at the far right, for buttons
                  | which open up/display a search input, or submit buttons in the
                  | search input that will send the search form.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon as a status response when performing a search.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | launch
          hr
          h6
            | EOS icon ligature:
          | launch
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links or buttons linking to external links which will open in a new tab/window.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal links.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | folder_open
          hr
          h6
            | EOS icon ligature:
          | folder_open
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon when there are
                  strong no results
                  | to show, e.g.: there are no Subscriptions to show in the Subscription page.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to show groups of items. Instead use
                  | #[strong folder] #[i.eos-icons.eos-18 folder]
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | history
          hr
          h6
            | EOS icon ligature:
          | history
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent logs or history of information/data.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to trigger a refresh of history of information/data.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | assessment
          hr
          h6
            | EOS icon ligature:
          | assessment
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to represent statistics or charts, or in buttons/links
                  | that will generate one, always with the text explaining the action, e.g.: "[icon] create chart"
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for history of data such as activity logs.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | edit
          hr
          h6
            | EOS icon ligature:
          | edit
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in buttons/links next to the text "edit (...)" in
                  | order to be specific about what is to be edited. Also, you may use
                  | the standalone icon in modular components or table rows to edit the
                  | content displayed in these, always with a tooltip explaining the information that will be edited.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon inside input fields or in a submit button that confirms the editing of a form.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | verified_user
          hr
          h6
            | EOS icon ligature:
          | verified_user
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for verification, status of verified users/accounts/systems/etc, or to activate systems/accounts/subscriptions in buttons/links.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for anything related to security.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | forum
          hr
          h6
            | EOS icon ligature:
          | forum
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for forums, or chat rooms where the user will be in touch with more than 1 user and be able to initiate conversations.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will only send a unique message, or have a conversation with only 1 person (in the case of support chat).
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | chat
          hr
          h6
            | EOS icon ligature:
          | chat
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will only send a unique message, or have a conversation with only 1 person (in the case of support chat).
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in links/buttons to forums, or chat rooms where the user will be in touch with other users and be able to initiate conversations.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | textsms
          hr
          h6
            | EOS icon ligature:
          | textsms
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in real time applications when a user is typing a message.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | -
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | email
          hr
          h6
            | EOS icon ligature:
          | email
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon in links/buttons that:
                  ul
                    li
                      | will take the user to a contact page where the user will send an email through a form.
                    li
                      | will open the user's email cient (to send an email).
                p
                  | Use this icon next to a title or in a section to represent the section shows a list of emails received or in a form that will send an email.
                p
                  | Use this icon for mail addresses.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to reply an email.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | reply
          hr
          h6
            | EOS icon ligature:
          | reply
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  | Use this icon to reply to emails, chat or comments.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon to forward/upload data.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | notifications
          hr
          h6
            | EOS icon ligature:
          | notifications
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    | Use this icon in a list of notifications.
                  li
                    | Use this icon to represent when new notifications are available.
                  li
                    | Use this icon in the action to re-activate notifications for an item/account.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.
    hr.hr-dotted
    article
      .row
        .col-sm-3
          h4
            | Icon
          .eos-icons.eos-48
            | notifications_off
          hr
          h6
            | EOS icon ligature:
          | notifications_off
        .col-sm-9
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    | Use this icon to represent that notifications have been turned off for the item/account.
                  li
                    | In the action to disable notifications for an item/account.
            .dont-column
              .do-dont-title
                h6
                  i.eos-icons.eos-18
                    | cancel
                  | Don't
              .do-dont-content
                p
                  | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.
  include ../includes/request-new-icon/request-new-icon-modal.pug
