block error-footer
  .error-footer
    ul
      li
        a(href='#')
          | suse.com
      li
        a(href='#')
          | Cookie policy
      li
        a(href='#')
          | Changelog
      li
        a(href='#')
          img(src='/images/error-page/gitlab_color-logo.svg', alt='social-media icons')
