extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Patterns

      p.subheadline
        | Patterns are common user flows found in different components, modules, or
        | templates. Patterns normally consist of a combination of two or more elements or
        | components from the Design System.
    hr
    article
      h3.anchor
        a#eos-patterns(href='#eos-patterns')
          i.eos-icons.eos-18
            | link
        | EOS patterns
      dl.patterns-list
        dt
          a(href='patterns/common-actions', data-event-category='Internal link', data-event-action='Common actions', data-event-label='Patterns')
            | Common actions
        dd
          p
            | How to apply repetitive actions across different elements and components.
        dt
          a(href='patterns/loading', data-event-category='Internal link', data-event-action='Loading', data-event-label='Patterns')
            | Loading
        dd
          p
            | A guide on how and where to use animated icons.
        dt
          a(href='patterns/spacing', data-event-category='Internal link', data-event-action='Spacing', data-event-label='Patterns')
            | Spacing
        dd
          p
            | Calculated spacing variables that are use for paddings and margins.
        dt
          a(href='patterns/date-time', data-event-category='Internal link', data-event-action='Date & time', data-event-label='Patterns')
            | Date & time
        dd
          p
            | Documentation on how to display date and time in clear and understadable way.
