/* Steps progress bar
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/steps-progress-bar/steps-progress-bar.variables.scss */
.steps-progress-bar {
  margin: 0 auto;

  li {
    color: $eos-spb-color;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 25%;

    /* Bullets color */
    &.brand-voice-icon a span {
      background-color: $eos-spb-circle-color;
    }

    &.brand-tone-icon a span {
      background-color: $eos-spb-circle-color;
    }

    &.ux-writing-icon a span {
      background-color: $eos-spb-circle-color;
    }

    &.conventions-rules-icon a span {
      background-color: $eos-spb-circle-color;
    }

    &.selected {
      &.brand-voice-icon a p {
        color: $eos-spb-circle-color;
      }

      &.brand-tone-icon a p {
        color: $eos-spb-circle-color;
      }

      &.ux-writing-icon a p {
        color: $eos-spb-circle-color;
      }

      &.conventions-rules-icon a p {
        color: $eos-spb-circle-color;
      }

      &:after {
        bottom: $eos-spb-circle-color;
      }

      a {
        cursor: default;
        pointer-events: none;

        .steps-wrapper {
          width: $eos-spb-wrapper-size-selectred;
        }

        span {
          height: $eos-spb-wrapper-selected-size;
          margin-top: 0px;
          padding-top: 0;
          width: $eos-spb-wrapper-selected-size;
        }
      }
    }

    a {
      color: $eos-spb-color;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }

    .steps-wrapper {
      background-color: $eos-body-bg;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      transition: all 0.2s ease;
      width: $eos-spb-size;

      &:hover {
        transform: scale(1.3);
      }

      &:active {
        transform: scale(1.4);
      }

      span {
        align-items: center;
        background-color: $eos-spb-wrapper-background-span;
        border-radius: 50%;
        display: flex;
        height: $eos-spb-wrapper-size-span;
        justify-content: center;
        margin-top: $eos-spb-wrapper-span-margin-top;
        width: $eos-spb-wrapper-size-span;
      }
    }

    p {
      color: $eos-spb-wrapper-title;

      @media screen and (max-width: $eos-sd-max) {
        /* Hide text in small devices */
        display: none;
      }
    }

    &:after {
      background-color: $eos-spb-after;
      bottom: $eos-spb-after-bottom;
      content: '';
      height: $eos-spb-after-height;
      left: -50%;
      position: absolute;
      width: 100%;
      z-index: $eos-spb-z-index;
    }

    &:first-child:after {
      content: none;
    }
  }
}
