block sign-in-form
  .sign-in-form
    h1
      | Sign in
    form.margin-top-xl.login-form
      .form-group
        label Usernames
        input.form-control(type='text', aria-describedby='emailHelp')
      .form-group
        label Password
        input.form-control(type='password')
      button.btn.btn-primary.btn-block.margin-top-xxl(type='submit') Submit
    .form-links.margin-top-xxl
      a(href='demo-new-password-dark-theme.html')
        | Forgot password?
      a(href='demo-sign-up-dark-theme.html')
        | Create an account
