extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Design kit
      p.subheadline
        | All the pieces and components of the EOS Design System in one single file to
        | facilitate the creation of design files.
      hr
    article
      .row
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.xd', target='_blank', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Design kit XD
                p
                  | Download design kit XD to create design mockups.
              div
                img.img-fluid.small-image(src='../images/documentation/adobe_xd.svg', alt='Adobe XD application logo')
            span.card-icon
              i.eos-icons.eos-18
                | file_download
            footer
              p
                | Download
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://gitlab.com/SUSE-UIUX/eos-backup/raw/master/Resources/Design-kit.svg', target='_blank', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Design kit SVG
                p
                  | Download the SVG format for the design kit to create prototypes.
              div
                img.img-fluid.small-image(src='../images/colors/Inkscape.logo.svg', alt='Inkscape application logo')
            span.card-icon
              i.eos-icons.eos-18
                | file_download
            footer
              p
                | Download

      p.margin-top-xxl
        | This design kit is only meant to be used as a reference for designers to be able to
        | create design mockups using the components defined in the EOS Design System. It
        | doesn’t contain all the information needed to implement EOS in a product (writing
        | guides, how to implement icons, implementing patterns…). You’ll find this information
        | across the different sections of this website.
      p
        | Do not modify any element of the design kit rather than names.
      h4.margin-top-xxl
        | Using Adobe XD and SVG files
      p
        | For every element delivered within the design system you can also download an Adobe XD or SVG file so that you can use them when designing prototypes for your products.
      h4.margin-top-xxl
        | Dependencies
      ul
        li
          a(href='https://fonts.google.com/specimen/Work+Sans', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-kit', target='_blank', rel='noreferrer nonopener')
            | Work Sans
        li
          a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link', data-event-label='Documentation/Design-kit', target='_blank', rel='noreferrer nonopener')
            | Lato
        li
          a(href='https://icons.eosdesignsystem.com', data-event-category='External link', data-event-action='EOS Icons', data-event-label='Documentation/Design-kit', target='_blank', rel='noreferrer nonopener')
            | EOS-icons
