extends ../layouts/layout-main

block content
  .full-page-loading.js-full-page-loading
    i.eos-icons.eos-icon-loading.eos-48
  .container
    h1
      | NPM instalation documentation
    p.subheadline
      | Instructions about how to integrate EOS in your Bootstrap project.

    hr
    article
    .js-documentation-npm
