/* Color box component
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-color-solo-color: $eos-bc-gray-300;
$eos-color-solo-border: $eos-bc-gray-300;
$eos-color-solo-background: $eos-bc-gray-1000;
$eos-color-collection-title-dark: $eos-bc-gray-1000;
$eos-color-collection-title-light: $eos-bc-white;
$eos-shade-box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-color-content-max-width: 300px;
$eos-color-content-max-height: 100px;
$eos-shade-box-size: 70px;
$eos-color-wrap-margin: $eos-l $eos-xl 0 0;
$eos-color-title-p-margin-top: $eos-s;
$eos-color-used-for-p-margin: 0 0 $eos-m 0;
$eos-color-box-border-radius: 10px;

// Font-size reference: /assets/stylesheets/eos-base/variables/typography.scss
$eos-color-box-main-text-size: 1.5em;
$eos-hex-title-size: $eos-font-size-base / 1.2;
$eos-colors-bottom-background: $eos-bc-gray-100;
