extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Alerts
      p.subheadline
        | Alerts contain messages that communicate information to the user.
        | They may also incorporate calls to action, or involve multiple tasks.
    hr
    article
      section.margin-top-xxl
        h3
          | Positioning alerts
        .row
          .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
            a.alerts-card.card.card-vertical.clickable(href='/alerts/global')
              .card-content
                header
                  h3
                    | Global alerts
                p.alert-card-description.margin-bottom-xxl
                  | Global alerts appear as a fixed, full-width strip, on top of the screen throughout the application.
                .figure-wrap
                  figure
                    img(src='/images/alerts/global-alert.svg', alt='Thumbnail for global alerts page')
              footer
                | Global alerts
          .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
            a.alerts-card.card.card-vertical.clickable(href='/alerts/section')
              .card-content
                header
                  h3
                    | Section alerts
                p.alert-card-description.margin-bottom-xxl
                  | Section alerts appear above the area or form they relate to.
                .figure-wrap
                  figure
                    img(src='/images/alerts/section-alert.svg', alt='Thumbnail for section alerts page')
              footer
                | Section alerts
          .col-12.col-sm-6.col-md-4.resource-content.js-resource-content.margin-bottom-m
            a.alerts-card.card.card-vertical.clickable(href='/alerts/inline')
              .card-content
                header
                  h3#alerts-inline
                    | Inline alerts
                p.alert-card-description.margin-bottom-xxl
                  | Inline alerts are positioned within the area or form they relate to.
                .figure-wrap
                  figure
                    img(src='/images/alerts/inline-alert.svg', alt='Thumbnail for inline alerts page')
              footer
                | Inline alerts
