#success-gallery-modal.modal.fade.js-success-modal(tabindex='-1', role='dialog', aria-labelledby='success-gallery-modal')
  .modal-dialog.modal-gallery(role='document')
    .modal-content
      .modal-header.margin-bottom-l
        h3.js-success-stories-modal-title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.js-tooltip(data-placement='top', title='Close', aria-hidden='true')
            i.eos-icons.eos-18.eos-light.icon-reset
              | close
      .modal-body.js-success-stories-images.modal-gallery-images
