/* Do's & Dont's
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/do-dont/do-dont.variables.scss */
.do-dont-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $eos-dd-padding;

  @media screen and (max-width: $eos-sd-max) {
    flex-direction: column;
    padding: $eos-dd-padding-mobile;
  }

  .do-column,
  .dont-column {
    background: $eos-do-dont-bg;
    box-shadow: $eos-box-shadow;
    flex: 1 0;
    margin: $eos-dd-column-magin;
    padding: $eos-dd-column-padding;

    @media screen and (max-width: $eos-sd-max) {
      margin: $eos-s 0;
    }

    &.half-width {
      flex: 50% 0;
    }

    ul {
      padding: $eos-dd-column-ul-padding;
    }
  }

  .do-column {
    border-left: $eos-do-column-border;

    .do-dont-title {
      color: $eos-do-title;
    }
  }

  .dont-column {
    border-left: $eos-dont-column-border;

    .do-dont-title {
      color: $eos-dont-title;
    }

    @media screen and (max-width: $eos-sd-max) {
      margin-top: $eos-dd-dont-column-margin-mobile;
    }
  }

  .text-center {
    flex: 0 0 100%;
    margin-top: $eos-dd-container-text-center-margin-top;
  }

  .do-dont-content {
    margin-left: $eos-dd-content-margin-left;
  }

  &-full-width {
    padding: 0;

    @media screen and (max-width: $eos-sd-max) {
      flex-direction: column;
      margin: $eos-dd-container-margin-mobile;

      .col-12 {
        margin-bottom: $eos-dd-dont-full-width-do-dont;
        width: auto;
      }
    }
  }
}
