// ps- prefix from panel-slidein
.ps-device-top
  h3.js-logo-icons-name
  .margin-top-xl.margin-bottom-xl.ps-device-icon
    img.eos-48.js-logo-icon-img
  a.btn.btn-primary.js-logo-icon-svg
    i.eos-icons.eos-18
      | get_app
    | Download icon
  p
    | Please follow #[a(href='/icons', data-event-category='Internal link', data-event-action='our guidelines', data-event-label='Logo icon set') our guidelines] when implementing this icon.
