/* Feedback tool variables
  ========================================================================== */
/**
* $eos-ft-* = $eos-ft-*
*
* Colors variables at: /assets/stylesheets/eos-base/variables/branding.scss
* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*
*/

// spacing
$eos-feedback-content-margin-top: $eos-m;
$eos-feedback-content-font-size: $eos-m - 4;

$eos-ft-left: 40%;
$eos-ft-left-sd: 8%;
$eos-ft-left-md: 20%;
$eos-ft-top: 25%;
$eos-ft-width: 300px;

/* Card */
$eos-ft-card-header-background: $eos-bc-pine-500;
$eos-ft-card-header-color: $eos-bc-white;
$eos-ft-card-header-padding: $eos-m;
$eos-ft-card-message-length: $eos-s + 2;
$eos-ft-card-message-length-color: $eos-bc-gray-500;
$eos-ft-card-content-padding: $eos-m;
$eos-ft-border-radius: 4px;

/* Form */
$eos-ft-text-area-border-color: $eos-bc-gray-100;
$eos-ft-text-area-margin-top: $eos-m;
$eos-ft-screenshoot-p-margin-left: $eos-s;
$eos-ft-screenshoot-input-margin: 2px 5px 0 0;
$eos-ft-attached-screenshoot-background: $eos-bc-pine-500;
$eos-ft-attached-screenshoot-color: $eos-bc-white;
$eos-ft-attached-screenshoot-border-radius: $eos-xs - 2;
$eos-ft-attached-screenshoot-padding: $eos-m;
$eos-ft-checkbox-margin-right: $eos-s;

/* Success page */
$eos-ft-success-p-background: #f7f7f7;
$eos-ft-success-p-padding: $eos-l;
$eos-ft-success-img-width: 120px;

/* Button */
$eos-ft-button-background: $eos-bc-pine-500;
$eos-ft-button-color: $eos-bc-white;
$eos-ft-button-size: $eos-xl;
$eos-ft-button-top: 50%;
$eos-ft-button-right: -30px;
