/* Icon display
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-icon-display-background: $eos-bc-white;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icon-display-width: 210px;
$eos-icon-icon-name-margin-top: $eos-m;
