extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Checkbox
          p.subheadline
            | Checkboxes are used when the user may select any number (zero, one or
            | several) of choices from a list.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Form elements assets
            ul.dropdown-menu.dropdown-menu-right
              include ./../shared/assets.pug
    hr
    article
      section.margin-top-xxl
        h3.anchor
          a#description(href='#description')
            i.eos-icons.eos-18
              | link
          | Description
        ul.list-no-padding
          li
            | Always associate a label to every checkbox for good accessibility. Do not include a colon at the end of the label.
          li
            | Use a single checkbox when there is a choice between two options that
            | represent status (for example opting in or out).
          li
            | Checkboxes should be used when enabling or disabling settings or preferences.
          li
            | Use checkboxes when the user needs to select one or multiple items for a
            | group of choices.
        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Element states
            ul.states-list.no-list-style.js-showcase-list
              li.js-showcase-current
                .form-check
                  input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='checkbox')
                  label.form-check-label.js-element-label(for='default-state')
                    | Default
          .col-md-9.component-showcase-col
            strong.js-showcase-how-to
              | How to use this element
            p.js-how-to-use
            strong.d-block
              | Example
            .states-example-box
              .example-inner-box.js-example-inner-box
            strong.d-block
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code.language-markup
                code.language-html
