/* Links
   ========================================================================== */
/**
*
* Links variables: /assets/stylesheets/eos-base/variables/links.scss
*/

/* Set the link color to our blue and not the bootstrap default */
/* Remove the default text decoration from link status */
.dark-theme {
  a,
  a:active,
  a:visited,
  a:focus {
    text-decoration: none;
  }

  a,
  .link-default,
  // Bootstrap 4 overwrite - used only for demo purposes
  a:not([href]):not([tabindex]) {
    color: $eos-dark-link-default-color;
    font-weight: bold;

    &:hover {
      color: $eos-dark-link-default-color;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
