/* Documentation
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/alerts/alerts.variables.scss
* Titles: /assets/stylesheets/eos-base/titles.scss
*
*/

.documentation-video-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
