/* Buttons dark theme variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacing.scss */
/* Typography variables: /assets/stylesheets/eos-base/variables/typography.scss */

$eos-dark-btn-secondary-color: $eos-bc-white;
$eos-dark-btn-secondary-color-hover: $eos-bc-gray-100;
$eos-dark-btn-secondary-color-active: $eos-bc-gray-100;
