block sign-in-header
  .sign-in-header
    img.logo-right(src='/images/sign-in-page/suse-logo-mobile.svg', alt='Suse logo dark')
    .dropdown.float-right
      button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
        | #[i.eos-icons.eos-18 keyboard_arrow_down] Language
      ul.dropdown-menu.dropdown-menu-right
        li
          a.dropdown-item(href='#')
            | English
        li
          a.dropdown-item(href='#')
            | German
