/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard/dashboard.variables.scss */
.dashboard {
  z-index: 0;

  &.container {
    margin-bottom: 0;
  }
}

/* Getting started
  ========================================================================== */

.getting-started {
  // Background
  background-image: $eos-dash-getting-started-background-image;
  background-repeat: repeat;
  background-size: contain;
}

.getting-started-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.getting-started-img {
  max-width: $eos-dash-gs-hero-bg-max-size;
}

@media screen and (max-width: $eos-sd-max) {
  .getting-started-img {
    display: none;
  }

  .getting-started-item {
    margin-bottom: $eos-dash-gs-item-sm-margin;
  }
}

.atomic-classification {
  .figure-wrap {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: $eos-dash-gs-ac-figure-h-w;
    justify-content: center;
    margin: 0 auto;
    width: $eos-dash-gs-ac-figure-h-w;

    img {
      width: $eos-dash-gs-ac-figure-img-w;
    }
  }
}
