extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Colors
          p.subheadline
            | Our color palette comprises the primary and accent colors to be used
            | in all  #{config.brand} applications. They have been designed to work harmoniously together.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              i.eos-icons.eos-18
                | keyboard_arrow_down
              |
              | Colors assets
            ul.dropdown-menu.dropdown-menu-right
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos/blob/master/assets/stylesheets/eos-base/variables/branding.scss', data-event-category='Dropdown link', data-event-action='Colors stylesheets', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | open_in_new
                  | Colors stylesheet
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', data-event-category='Dropdown link', data-event-action='Adobe color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | file_download
                  | Adobe color palettes
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', data-event-category='Dropdown link', data-event-action='Inkscape color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                  i.eos-icons.eos-18
                    | file_download
                  | Inkscape color palettes
    hr
    article
      h3.anchor
        a#color-shading-system(href='#color-shading-system')
          i.eos-icons.eos-18
            | link
        | Color shading system
      p
        | Each color has its own shading between 100-900.
        | The 500 color is the main and default color to use in elements/assets.
        | The remaining shades must be used as accent colors.

    article.margin-top-xxl
      h3.anchor
        a#primary-colors(href='#primary-colors')
          i.eos-icons.eos-18
            | link
        | Primary colors
      p
        | These are our primary brand colors that should be used in the majority
        | of branded assets.
      .colors-wrap

        .color-wrap.bc-green
          .color-title
            h4
              | Green
            p
              code
                | $eos-bc-green-500
          p
            | Use for: primary color, CTA, and active status.
          .reduced-color-content
            .color.js-cc.color-100(data-clipboard-text='#E4F6EE; // $eos-bc-green-100')
              strong
                | 100
              .hex
                | #E4F6EE
            .color.js-cc.color-500(data-clipboard-text='#30BA78 // $eos-bc-green-500')
              strong
                | 500
              .hex
                | #30BA78
            .color.js-cc.color-900(data-clipboard-text='#139448 // $eos-bc-green-900')
              strong
                | 900
              .hex
                | #139448

        .color-wrap.bc-pine
          .color-title
            h4
              | Pine
            p
              code
                | $eos-bc-pine-500
          p
            | Use for: menu background.
          .reduced-color-content
            .color.js-cc.color-500.color-main(data-clipboard-text='#0C322C // $eos-bc-pine-500')
              strong
                | 500
              .hex
                | #0C322C
      h3.anchor.margin-top-xxl
        a#secondary-colors(href='#secondary-colors')
          i.eos-icons.eos-18
            | link
        | Secondary colors
      p
        | The secondary colors are used to complement the primary colors.
        | They should be used in conjunction with the primary colors, but should
        | not overpower or distort the color perception of the brand — which is green.
      .colors-wrap
        .color-wrap.bc-cerulean
          .color-title
            h4
              | Cerulean
            p
              code
                | $eos-bc-cerulean-900
          p
            | Use for: default link color and info status.
          .reduced-color-content
            .color.js-cc.color-100(data-clipboard-text='#B3E8F6 // $eos-bc-cerulean-100')
              strong
                | 100
              .hex
                | #B3E8F6
            .color.js-cc.color-500(data-clipboard-text='#00B2E2 // $eos-bc-cerulean-500')
              strong
                | 500
              .hex
                | #00B2E2
            .color.js-cc.color-900(data-clipboard-text='#008ACF // $eos-bc-cerulean-900')
              strong
                | 900
              .hex
                | #008ACF
        .color-wrap.bc-yellow
          .color-title
            h4
              | Yellow
            p
              code
                | $eos-bc-yellow-500
          p
            | Use for: warning indication.
          .reduced-color-content
            .color.js-cc.color-100(data-clipboard-text='#FFECB5 // $eos-bc-yellow-100')
              strong
                |  100
              .hex
                | #FFECB5
            .color.js-cc.color-500(data-clipboard-text='#FFC107 // $eos-bc-yellow-500')
              strong
                | 500
              .hex
                | #FFC107
            .color.js-cc.color-900(data-clipboard-text='#FF9E02 // $eos-bc-yellow-900')
              strong
                | 900
              .hex
                | #FF9E02

        .color-wrap.bc-red
          .color-title
            h4
              | Red
            p
              code
                | $eos-bc-red-500
          p
            | Use for: error or danger indication.
          .reduced-color-content
            .color.js-cc.color-100(data-clipboard-text='#F5C2C7 // $eos-bc-red-100')
              strong
                | 100
              .hex
                | #F5C2C7
            .color.js-cc.color-500(data-clipboard-text='#DC3545 // $eos-bc-red-500')
              strong
                | 500
              .hex
                | #DC3545
            .color.js-cc.color-900(data-clipboard-text='#C5161F // $eos-bc-red-900')
              strong
                | 900
              .hex
                | #C5161F
        .color-wrap.bc-gray
          .color-title
            h4
              | Gray
            p
              code
                | $eos-bc-gray-1000
          p
            | Use for: default color for text
          .d-flex
            .color.js-cc.color-main.color-500(data-clipboard-text='#969494 // $eos-bc-gray-500')
              strong
                | 500
              .hex
                | #969494
            div
              .color-top
                .color.js-cc.color-300(data-clipboard-text='#B6B4B4 // $eos-bc-gray-300')
                  strong
                    | 300
                  .hex
                    | #B6B4B4

                .color.js-cc.color-100(data-clipboard-text='#E0DFDF // $eos-bc-gray-100')
                  strong
                    | 100
                  .hex
                    | #E0DFDF
                .color.js-cc.color-50(data-clipboard-text='#F2F2F2 // $eos-bc-gray-50')
                  strong
                    | 50
                  .hex
                    | #F2F2F2

              .color-bottom
                .color.js-cc.color-800(data-clipboard-text='#797777 // $eos-bc-gray-700')
                  strong
                    | 700
                  .hex
                    | #797777
                .color.js-cc.color-900(data-clipboard-text='#686565 // $eos-bc-gray-900')
                  strong
                    | 900
                  .hex
                    | #686565
                .color.js-cc.color-1000(data-clipboard-text='#141823 // $eos-bc-gray-1000')
                  strong
                    | 1000
                  .hex
                    | #141823

    article.margin-top-xxl
      h3.anchor
        a#implementation-example(href='#implementation-example')
          i.eos-icons.eos-18
            | link
        | Implementation and SASS example
      h5
        | Example of usage:
      p
        | Let's say we are creating a new primary element that requires darker borders.
        | We should use the 500 shade of the "Green" color for the background, and
        | the shade 900 of the same color for the borders:
      .css-snippet-container
        pre.js-snippet-code
          template.js-code-template
            | .my-class {
            |   background: $eos-bc-green-500;
            |   border: 1px solid $eos-bc-green-900;
            | }
          code.js-code-render.language-scss

  article.articles-gallery
    .container
      h3.anchor.title-no-margings
        a#download-color-palettes(href='#download-color-palettes')
          i.eos-icons.eos-18
            | link
        | Download color palettes
      .row
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Color palettes for Adobe
                p
                  | Download #[strong .gpl] file for Adobe Photoshop and Illustrator
              div
                img.img-fluid.small-image(src='./images/colors/adobe.svg', alt='Adobe logo')
            span.card-icon
              i.eos-icons.eos-18
                | file_download
            footer
              p
                | Download
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', target='_blank', rel='noreferrer nonopener')
            .card-content
              div
                h4
                  | Color palettes for Inkscape
                p
                  | Download #[strong .gpl] file for Inkscape (also works with GIMP)
              div
                img.img-fluid.small-image(src='./images/colors/Inkscape.logo.svg', alt='Inkscape logo')
            span.card-icon
              i.eos-icons.eos-18
                | file_download
            footer
              p
                | Download
