.patterns-list {
  margin: 0;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    list-style: none;

    @media screen and (max-width: $eos-sd-max) {
      align-items: flex-start;
      flex-direction: column;
    }

    a {
      width: $patterns-page-a-width;

      @media screen and (max-width: $eos-sd-max) {
        width: 100%;
      }
    }
  }
}

.pattern-loading-demo {
  width: $pattern-loading-demo;
}
